<div class="sm:fixed top-10 right-5 bg-red-400 height-auto
    border-2 px-2 border-black text-white z-100 p-2">
    <span class="px-1 sm:hidden">none</span>
    <span class="px-1 hidden sm:inline border-1">sm</span>
    <span class="px-1 hidden md:inline border-1">md</span>
    <span class="px-1 hidden lg:inline border-1">lg</span>
    <span class="px-1 hidden xl:inline border-1">xl</span>
    <span class="px-1 hidden 2xl:inline border-1">2xl</span>        
</div>